<%- partial('_common/banner') %>
<section class="posts">
  <% page.posts.each(function (post) { %>
    <article class="post">
      <div class="post-meta">
        <span class="post-time"><%- date(post.date, "YYYY-MM-DD") %></span>
      </div>
      <div class="post-title">
        <% if(post.link) {%>
          <a class="post-title-link post-title-link-external" target="_blank" href="<%- url_for(post.link) %>" itemprop="url">
            <%- post.title || post.link %>
            <i class="fa fa-external-link"></i>
          </a>
          <% if(post.categories && post.categories.length) {%>
            <span class="post-category" >
              <span class="post-meta-item-icon">
                <i class="fa fa-folder-o"></i>
              </span>
              <% for (var i=0; i < post.categories.length; i++) { %>
                <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
                  <a href="<%- url_for(post.categories.data[i].path) %>" itemprop="url" rel="index">
                    <span itemprop="name"><%= post.categories.data[i].name %></span>
                  </a>
                </span>
              <% } %>
            </span>
          <% } %>
        <%} else {%>
          <a class="post-title-link" href="<%- url_for(post.path) %>">
            <% if(post.title){ %>
              <%= post.title %>
            <% }else{ %>
              Untitled
            <% } %>
          </a>
          <% if(post.categories && post.categories.length) {%>
            <span class="post-category" >
              <span class="post-meta-item-icon">
                <i class="fa fa-folder-o"></i>
              </span>
              <% for (var i=0; i < post.categories.length; i++) { %>
                <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
                  <a href="<%- url_for(post.categories.data[i].path) %>" itemprop="url" rel="index">
                    <span itemprop="name"><%= post.categories.data[i].name %></span>
                  </a>
                </span>
              <% } %>
            </span>
          <% } %>
        <% } %>
        <div class="post-tags">
          <% for (tag in post.tags.data){%>
            <p><%= post.tags.data[tag].name %></p>
          <% } %>
        </div>
      </div>
      <div class="post-content">

        <% if (post.photos && post.photos.length) { %>
          <div class="post-gallery" itemscope itemtype="http://schema.org/ImageGallery">
            <% var COLUMN_NUMBER = 3 %>
            <% for (photo in post.photos) { %>
              <% if (photo % COLUMN_NUMBER === 0) { %> <div class="post-gallery-row"> <% } %>
                <a class="post-gallery-img fancybox"
                   href="<%- url_for(post.photos[photo]) %>" rel="gallery_<%= post._id %>"
                   itemscope itemtype="http://schema.org/ImageObject" itemprop="url">
                  <img src="<%- url_for(post.photos[photo]) %>" itemprop="contentUrl"/>
                </a>
              <% if (photo % COLUMN_NUMBER === 2) {%></div><% } %>
            <% } %>
          </div>
        <% } %>

        <% if(post.excerpt){ %>
        <%- post.excerpt %>
        <% } else { %>
        <%- post.content %>
        <% } %>
      </div>
    </article>
  <% }) %>
</section>
<%- partial('_common/paginator') %>
