<%- partial('_common/banner') %>
<section class="posts">
  <% page.posts.each(function (post) { %>
    <article class="post">
      <div class="post-meta">
        <span class="post-time"><%- date(post.date, "YYYY-MM-DD") %></span>
      </div>
      <div class="post-title">
        <a class="post-title-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
        <% for (tag in post.tags.data){%>
          <p><%= post.tags.data[tag].name %></p>
          <% } %>
      </div>
      <div class="post-content">
        <%- post.excerpt %>
      </div>
    </article>
  <% }) %>
</section>
<%- partial('_common/paginator') %>
