<% if(page.title){ %>
  <article class="post">
    <div class="post-title">
      <h2 class="title"><%= page.title %></h2>
       <% for (tag in page.tags.data){ %>
        <p><%= page.tags.data[tag].name %></p>
      <% } %>
    </div>
     <div class="post-meta">
      <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
    </div>
    <div class="post-content">
      <%- page.more %>
    </div>
  </article>
  <div class="post-nav">
    <div class="post-nav-next post-nav-item">
      <% if (post.next) {%>
        <a href="<%- url_for(post.next.path) %>" rel="next" title="<%= post.next.title %>">
          <i class="fa fa-chevron-left"></i> <%- post.next.title %>
        </a>
      <% } %>
    </div>

    <span class="post-nav-divider"></span>

    <div class="post-nav-prev post-nav-item">
    <% if (post.prev) {%>
        <a href="<%- url_for(post.prev.path) %>" rel="prev" title="<%= post.prev.title %>">
          <%- post.prev.title %> <i class="fa fa-chevron-right"></i>
        </a>
      <% } %>
    </div>
  </div>
<% } %>
